#!/system/bin/sh

export PATH="/data/adb/magisk:/data/adb/ksu/bin:/data/adb/ap/bin:$PATH:/data/data/com.termux/files/usr/bin"

scripts=$(realpath $0)
scripts_dir=$(dirname ${scripts})

source ${scripts_dir}/box.config

mkdir -p ${run_path}
mkdir -p ${box_path}/${bin_name}

# ${box_path}/bin/yq -i ".tproxy-port=${tproxy_port}" ${box_path}/clash/config.yaml
# ${box_path}/bin/yq -i ".dns.listen=\"${clash_dns_listen}\"" ${box_path}/clash/config.yaml
# ${box_path}/bin/yq -i ".dns.fake-ip-range=\"${clash_fake_ip_range}\"" ${box_path}/clash/config.yaml

# ${box_path}/bin/yq -o=json -i "(.inbounds[] | select(.type == \"tproxy\") | .listen_port) = ${tproxy_port}" ${box_path}/sing-box/config.json

find ${box_path} -mtime +3 -type f -name "*.log" | xargs rm -f

log() {
  export TZ=Asia/Shanghai
  now=$(date +"[%Y-%m-%d %H:%M:%S %Z]")
  case $1 in
    Info)
      [ -t 1 ] && echo -e "\033[1;32m${now} [Info]: $2\033[0m" || echo "${now} [Info]: $2"
      ;;
    Warn)
      [ -t 1 ] && echo -e "\033[1;33m${now} [Warn]: $2\033[0m" || echo "${now} [Warn]: $2"
      ;;
    Error)
      [ -t 1 ] && echo -e "\033[1;31m${now} [Error]: $2\033[0m" || echo "${now} [Error]: $2"
      ;;
    *)
      [ -t 1 ] && echo -e "\033[1;30m${now} [$1]: $2\033[0m" || echo "${now} [$1]: $2"
      ;;
  esac
}

check_permission() {
  if which ${bin_name} | grep -q "/system/bin/" ; then
    box_user=$(echo ${box_user_group} | awk -F ':' '{print $1}')
    box_group=$(echo ${box_user_group} | awk -F ':' '{print $2}')
    box_user_id=$(id -u ${box_user})
    box_group_id=$(id -g ${box_group})
    [ ${box_user_id} ] && [ ${box_group_id} ] || \
    (box_user_group="root:net_admin" && log Error "${box_user_group} error, use root:net_admin instead.")
    bin_path=$(which ${bin_name})
    chown ${box_user_group} ${bin_path}
    chmod 0755 ${bin_path}
    if [ "${box_user_id}" != "0" ] || [ "${box_group_id}" != "3005" ] ; then
      # setcap has been deprecated as it does not support binary outside of the /system/bin directory
      setcap 'cap_net_admin,cap_net_raw,cap_net_bind_service,cap_sys_ptrace,cap_dac_read_search+ep' ${bin_path} || \
      (box_user_group="root:net_admin" && log Error "setcap authorization failed, you may need libcap package.")
    fi
    chown -R ${box_user_group} ${box_path}
    return 0
  elif [ -f ${bin_path} ] ; then
    box_user_group="root:net_admin"
    chown ${box_user_group} ${bin_path}
    chmod 0700 ${bin_path}
    chown -R ${box_user_group} ${box_path}
    return 0
  else
    return 1
  fi
}

# shellcheck disable=SC2120
start_bin() {
  ulimit -SHn 1000000
  case "${bin_name}" in
    sing-box)
      if ${bin_path} check -D ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
        log Info "starting ${bin_name} service."
        nohup busybox setuidgid ${box_user_group} ${bin_path} run -D ${box_path}/${bin_name} > /dev/null 2> ${run_path}/error_${bin_name}.log &
        echo -n $! > ${pid_file}
        return 0
      else
        log Error "configuration check failed, please check the ${run_path}/check.log file."
        return 1
      fi
      ;;
    mihomo)
      if ${bin_path} -t -d ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
        log Info "starting ${bin_name} service."
        nohup busybox setuidgid ${box_user_group} ${bin_path} -d ${box_path}/${bin_name} > ${box_path}/${bin_name}/${bin_name}_$(date +%Y%m%d%H%M).log 2> ${run_path}/error_${bin_name}.log &
        echo -n $! > ${pid_file}
        return 0
      else
        log Error "configuration check failed, please check the ${run_path}/check.log file."
        return 1
      fi
      ;;
    xray)
      export XRAY_LOCATION_ASSET="${box_path}/${bin_name}"
      if ${bin_path} -test -confdir ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
        log Info "starting ${bin_name} service."
        nohup busybox setuidgid ${box_user_group} ${bin_path} -confdir ${box_path}/${bin_name} > /dev/null 2> ${run_path}/error_${bin_name}.log &
        echo -n $! > ${pid_file}
        return 0
      else
        log Error "configuration check failed, please check the ${run_path}/check.log file."
        return 1
      fi
      ;;
    hysteria)
      log Info "starting ${bin_name} service."
      nohup busybox setuidgid ${box_user_group} ${bin_path} -c ${box_path}/${bin_name}/config.yaml > ${box_path}/${bin_name}/${bin_name}_$(date +%Y%m%d%H%M).log 2> ${run_path}/error_${bin_name}.log &
      echo -n $! > ${pid_file}
      return 0
      ;;
    *)
      log Error "$1 core error, it must be one of ${bin_name_list[*]}"
      return 2
      ;;
  esac
}

find_netstat_path() {
  [ -f /system/bin/netstat ] && alias netstat="/system/bin/netstat" && return 0
  [ -f /system/xbin/netstat ] && alias netstat="/system/xbin/netstat" && return 0
  return 1
}

wait_bin_listen() {
  wait_count=0
  bin_pid=$(busybox pidof ${bin_name})
  find_netstat_path && \
  check_bin_cmd="netstat -tnulp | grep -q ${bin_name}" || \
  check_bin_cmd="ls -lh /proc/${bin_pid}/fd | grep -q socket"
  while [ ${bin_pid} ] && ! eval "${check_bin_cmd}" && [ ${wait_count} -lt 100 ] ; do
    sleep 1 ; wait_count=$((${wait_count} + 1))
  done
  if [ ${bin_pid} ] && eval "${check_bin_cmd}" ; then
    return 0
  else
    return 1
  fi
}

check_stored_pid_running() {
  local verified='true'
  
  bin_pid="$(busybox pidof ${bin_name})"
  [[ "$?" != "0" ]] && verified='false'
  stored_pid="$(cat ${pid_file})"
  [[ "$?" != "0" ]] && verified='false'
  
  if [[ " ${bin_pid} " == *" ${stored_pid} "* ]]; then
    bin_pid="${stored_pid}"
  else
    verified='false'
  fi
  
  if ! "${verified}" ; then
    bin_pid=''
    log Warn "check_stored_pid_running: Cannot find running ${bin_name} service with pid recorded in ${pid_file}."
    return 1
  fi
  
  return 0
}

check_pid_status() {
  check_stored_pid_running
  if [ $? -ne 0 ] ; then
    return 1
  fi
  
  # ${bin_pid} has value assigned in check_stored_pid_running
  if [ -f "/proc/${bin_pid}/status" ]; then
    local pid_name
    local pid_state
    pid_name=$(cat /proc/${bin_pid}/status | grep '^Name:' | awk '{print $2}')
    pid_state=$(cat /proc/${bin_pid}/status | grep '^State:' | awk '{print $2}')
    
    if [[ "${pid_name}" != "${bin_name}" ]]; then
      log Error "check_pid_status: Process name of pid ${bin_pid} does not match bin name ${bin_name}"
      return 1
    else
      [[ "${1}" == "paused" ]] && [[ "${pid_state}" != "T" ]] && return 1
      [[ "${1}" == "running" ]] && [[ "${pid_state}" != "R" && "${pid_state}" != "S" && "${pid_state}" != "D" ]] && return 1
      [[ "${1}" == "" ]] && log Info "${bin_name} service process state is: ${pid_state}"
    fi
  else
    log Error "check_pid_status: Cannot find /proc/${bin_pid}/status file"
    return 1
  fi
}

display_bin_status() {
  check_stored_pid_running
  if [ $? -eq 0 ] ; then
    log Info "${bin_name} has started with the $(stat -c %U:%G /proc/${bin_pid}) user group."
    log Info "${bin_name} service is running. ( PID: ${bin_pid} )"
    log Info "${bin_name} memory usage: $(cat /proc/${bin_pid}/status | grep -w VmRSS | awk '{print $2$3}')"
    log Info "${bin_name} cpu usage: $((/system/bin/ps -eo %CPU,NAME | grep ${bin_name} | awk '{print $1"%"}') 2> /dev/null || dumpsys cpuinfo | grep ${bin_name} | awk '{print $1}')"
    log Info "${bin_name} running time: $(busybox ps -o comm,etime | grep ${bin_name} | awk '{print $2}')"
    return 0
  else
    return 1
  fi
}

# TODO: (priority: high)
# function for multiple secondary cores

# DONE: (priority: mid)
# get and set ${sys_rule_index} from system ip rule result
start_service() {
  if check_permission ; then
    log Info "${bin_name} will be started with the ${box_user_group} user group."
    
    # find and record the tun ip rule starting index
    local rule_idx="$(ip rule show | head -n 1 | awk -F: '{print $1}')"
    if [[ "${rule_idx}" != "" && "${rule_idx}" != "0" ]]; then
      sys_rule_index="${rule_idx}"
      sed -i "s/^sys_rule_index=.*/sys_rule_index=\"${sys_rule_index}\"/" ${scripts_dir}/box.config
    fi
    
    if start_bin && wait_bin_listen ; then
      log Info "${bin_name} service is running. ( PID: $(cat ${pid_file}) )"
      return 0
    else
      check_stored_pid_running
      if [ $? -eq 0 ] ; then
        log Warn "${bin_name} service is running but may not listening. ( PID: ${bin_pid} )"
        return 0
      else
        log Error "start ${bin_name} service failed, please check the ${run_path}/error_${bin_name}.log file."
        rm -f ${pid_file} >> /dev/null 2>&1
        return 1
      fi
    fi
  else
    log Error "missing ${bin_name} core, please download and place it in the ${box_path}/bin/ directory"
    return 2
  fi
}

stop_service() {
  if display_bin_status ; then
    log Warn "stopping ${bin_name} service."
    kill $(cat ${pid_file})
    sleep 1
    display_bin_status
  else
    # when cannot find $(cat ${pid_file}) as a running ${bin_name} process, attempt to killall running ${bin_name} process
    killall ${bin_name}
  fi
  rm -f ${pid_file} >> /dev/null 2>&1
}


# create_tun_link() {
#   mkdir -p /dev/net
#   [ ! -L /dev/net/tun ] && ln -s /dev/tun /dev/net/tun
# }

probe_tun_device() {
  ifconfig | grep -q ${tun_device} || return 1
}

probe_tun_index() {
  while [ ! -f "/data/misc/net/rt_tables" ] ; do
    sleep 3
  done
  while read -r index name ; do
    if [ ${name} = ${tun_device} ] ; then
      tun_table_index=${index}
      return 0
    fi
  done < /data/misc/net/rt_tables
  return 1
}

# no use for sing-box
tun_forward_ip_rules() {
  ip rule $1 iif lo goto 6000 pref 5000
  ip rule $1 iif ${tun_device} lookup main suppress_prefixlength 0 pref 5010
  ip rule $1 iif ${tun_device} goto 6000 pref 5020
  ip rule $1 from 10.0.0.0/8 lookup ${tun_table_index} pref 5030
  ip rule $1 from 172.16.0.0/12 lookup ${tun_table_index} pref 5040
  ip rule $1 from 192.168.0.0/16 lookup ${tun_table_index} pref 5050
  ip rule $1 nop pref 6000
}

# no use for sing-box
tun_forward_ip_rules_del() {
  ip rule del pref 5000
  ip rule del pref 5010
  ip rule del pref 5020
  ip rule del pref 5030
  ip rule del pref 5040
  ip rule del pref 5050
  ip rule del pref 6000
}

sing_tun_ip_rules() {
  ip rule $1 prio 8000 from all iif ${tun_device} lookup main suppress_prefixlength 0
  ip rule $1 prio 7000 lookup main
}

# TODO: (priority: high)
network_has_ipv6() {
  if [ -z "${has_ipv6}" ]; then
    if [[ "${ipv6}" == "enable" ]] ; then
      has_ipv6='true'
    else
      has_ipv6='false'
    fi
  fi
  
  echo "${has_ipv6}"
}

ip_cmd()
{
  ip "$@"
  ip -6 "$@"
}

iptables_cmd()
{
  iptables -w 100 "$@"
  ip6tables -w 100 "$@"
}

# DONE: (priority: high)
# add pause and resume function
# TODO: (priority: high)
# make sure mtalk[1-8]?[.]google[.]com is accessible: 1. check 2. possibly edit host to a proxy ip (CF workers)
pause_service() {
  check_pid_status 'running'
  if [ ! $? -eq 0 ]; then
    log Error "pause_service: ${bin_name} service not running, pausing failed."
    return 1
  fi
  
  # DNS modifications
  ## revert to the saved original system dns setting
  settings put global private_dns_mode ${system_dns_mode}
  ## remove mark all udp/53 (iptables) to route those to tun in "ip rule"
  iptables_cmd -t mangle -D OUTPUT -p udp --dport 53 -j DNS_TO_TUN >> /dev/null 2>&1
  
  local skip_tun_rule_index=$(( sys_rule_index - 1 ))
  ip_cmd rule add prio $((my_rule_index - 1)) from all goto ${skip_tun_rule_index}
  ip_cmd rule add prio $((my_rule_index - 1)) not from all goto ${skip_tun_rule_index}
  
  # ${bin_pid} has value assigned in check_pid_status
  kill -SIGSTOP ${bin_pid}
}

resume_service() {
  check_pid_status 'paused'
  if [ ! $? -eq 0 ]; then
    log Error "resume_service: ${bin_name} service not paused, resuming failed."
    return 1
  fi
  
  # ${bin_pid} has value assigned in check_pid_status
  kill -SIGCONT ${bin_pid}
  
  local skip_tun_rule_index=$(( sys_rule_index - 1 ))
  ip_cmd rule del prio $((my_rule_index - 1)) from all goto ${skip_tun_rule_index}
  ip_cmd rule del prio $((my_rule_index - 1)) not from all goto ${skip_tun_rule_index}
  
  # DNS modifications
  ## restore mark all udp/53 (iptables) to route those to tun in "ip rule"
  iptables_cmd -t mangle -A OUTPUT -p udp --dport 53 -j DNS_TO_TUN >> /dev/null 2>&1
  ## resume to private_dns_mode:off
  settings put global private_dns_mode off
}

convert_to_ranges()
{
  result=''
  
  start=0
  end=0
  
  while read -r num; do
    if (( end == num - 1 )); then
      ((end++))
    elif (( num > end )); then
      result="${result}${start}-${end}\n"
      start=${num}
      end=${num}
    fi
  done <<< "$1"
  
  result="${result}${start}-${end}"
  
  echo -e "${result}"
}

sorteduid_array_subtraction() {
  arr1=($1)
  arr2=($2)
  
  local result_arr=()

  local arr2_index=0
  local arr2_size=${#arr2[@]}
        
  for arr1_item in "${arr1[@]}"; do
    if (( arr2_index == arr2_size )); then
      result_arr+=("${arr1_item}")
    else
      while (( arr1_item > arr2[arr2_index] && arr2_index < arr2_size )); do
        ((arr2_index++))
      done
      
      if (( arr2_index == arr2_size )); then
        result_arr+=("${arr1_item}")
        continue
      fi
            
      if (( arr1_item < arr2[arr2_index] )); then
        result_arr+=("${arr1_item}")
      elif (( arr1_item == arr2[arr2_index] )); then
        ((arr2_index++))
      fi
    fi
  done
  
  echo "${result_arr[@]}"
}

sorteduid_array_addition() {
  arr1=($1)
  arr2=($2)
  
  result_arr=()
  
  local arr1_size=${#arr1[@]}
  local arr2_size=${#arr2[@]}
  local arr1_idx=0
  local arr2_idx=0
  
  local cur_item=0
  local last_item=0
  
  while (( arr1_idx < arr1_size || arr2_idx < arr2_size )); do
    if (( arr1_idx == arr1_size )); then
      cur_item=${arr2[${arr2_idx}]}
      ((arr2_idx++))
    elif (( arr2_idx == arr2_size )); then
      cur_item=${arr1[${arr1_idx}]}
      ((arr1_idx++))
    else
      if (( arr1[arr1_idx] < arr2[arr2_idx] )); then
        cur_item=${arr1[${arr1_idx}]}
      ((arr1_idx++))
      elif (( arr1[arr1_idx] == arr2[arr2_idx] )); then
        cur_item=${arr1[${arr1_idx}]}
      ((arr1_idx++))
      ((arr2_idx++))
      else
        cur_item=${arr2[${arr2_idx}]}
      ((arr2_idx++))
      fi
    fi
    
    if (( cur_item != last_item )); then
      result_arr+=(${cur_item})
      last_item=${cur_item}
    fi
  done
  
  echo "${result_arr[@]}"
}

# DONE: (priority: high)
# mark udp/53 packets of proxyed apps (iptables) and route those to tun in "ip rule"
# this is for Traffic Splitting by ip route table of the proxy tun

# DONE: (priority: high)
# ${blacklist_exclude_systemapps}=[true|false]
# =true: exclude tun route for system apps in blacklist mode

# DONE: (priority: mid)
# get and set ${tun_rule_index} from system ip rule result

# DONE: (priority: high)
# Implement blacklist/whitelist for user-defined apps
# Custom ${skip_tun_rule_index} by the script, instead of using the skip rule created by the proxy tun, only takes effect in blacklist/whitelist mode
# Using this script's blacklist/whitelist mode with the same blacklist/whitelist mode of the proxy tun will *ADD* the script's listed apps to the final result
# Using this script's blacklist/whitelist mode with the reverse whitelist/blacklist mode of the proxy tun will *OVERRIDE* the script's listed apps to the final result

# DONE: (priority: high)
# switch android system dns setting when enable/disable/pause/continue
# set system dns to PrivateDns:Off when proxy tun active; revert to original dns setting when proxy tun non-active
# "settings get global private_dns_mode":  off/opportunistic/hostname

# TODO: (priority: low)
# add block list apps so their internet is blocked

# TODO: (priority: high)
# TEST CODE

# !ALERT!: assuming proxy tun is already started, and it has added its own ip rules and ip route table
# At the current code state, we are using:
# 1. always using the tun ip table created by the proxy tun
# 2. when blacklist/whitelist is not set, using the tun ip rule created by the proxy tun
add_tun_rules() {
  if ! check_pid_status 'running'; then
    log Error "add_tun_rules: ${bin_name} service not running, function failed."
    return 1
  fi
  
  # set the variables; check/validate options
  local skip_tun_rule_index=$(( sys_rule_index - 1 ))

  # find and record the tun ip rule starting index
  # *for ${tun_rule_index}, it's ok if no ip rule is added by the proxy tun
  local rule_idx="$(ip rule show | head -n 1 | awk -F: '{print $1}')"
  if [[ "${rule_idx}" != "" && "${rule_idx}" != "0" ]]; then
    tun_rule_index="${rule_idx}"
    sed -i "s/^tun_rule_index=.*/tun_rule_index=\"${tun_rule_index}\"/" ${scripts_dir}/box.config
  fi

  my_rule_index=$(( tun_rule_index - 1000 ))
  sed -i "s/^my_rule_index=.*/my_rule_index=\"${my_rule_index}\"/" ${scripts_dir}/box.config
  
  # !ipv4 only! enable tun forward for hotspot (in ipv4)
  ip rule add prio ${my_rule_index} not fwmark ${mark_id} lookup main
  ip rule add prio $(( my_rule_index + 1 )) from all iif ${tun_device} lookup main suppress_prefixlength 0
  
  # !ipv6 only! disable tun if ipv6 not available
  if ! "$(network_has_ipv6)" ; then
    ip -6 rule add priority $(( my_rule_index - 1 )) from all unreachable
  fi
  
  # DNS modifications
  ## mark all udp/53 (iptables) and route those to tun in "ip rule"
  iptables_cmd -t mangle -N DNS_TO_TUN
  iptables_cmd -t mangle -A OUTPUT -p udp --dport 53 -j DNS_TO_TUN
  ip_cmd rule add prio $(( my_rule_index + 10 )) fwmark ${mark_id} lookup ${tun_table_index}
  
  ## save the original system dns setting, change the new setting to private_dns_mode:off
  local orig_dns_mode
  orig_dns_mode=$(settings get global private_dns_mode)
  sed -i "s/^system_dns_mode=.*/system_dns_mode=\"${orig_dns_mode}\"/" ${scripts_dir}/box.config
  settings put global private_dns_mode off
  
  
  # add blacklist/whitelist apps for tun in ip rule
  ## prepare uid arrays
  boxuserlist_apps_uids=()
  sys_proxy_apps_uids=()
  sys_noneproxy_apps_uids=()

  # exclude system apps from tun in ip rule; not excluding google apps and default download app
  # should exclude for Chinese OEMs' ROMs, should not exclude for international OEMs' ROMs
  
  if [[ "${proxy_mode}" == "blacklist" || "${proxy_mode}" == "whitelist" ]]; then
    ## prepare ${boxuserlist_apps_uids}
    local selector=''
    for pkgName in "${ruled_packages_list[@]}"; do
      selector="${selector}|${pkgName}"
    done
    selector="${selector:1}"
    
    while read user_rule_app_uid; do
      boxuserlist_apps_uids+=("${user_rule_app_uid}")
    done <<< "$(pm list packages -U | awk -F'[: ]' '{print $2, $4}' | grep -E "${selector}" | sort -k2 -n | cut -d ' ' -f2)"
    
    #### more than one apps shares same uid as "com.android.providers.downloads"
    #### therefore, for default download app, add its pkgUID to selector
    local all_sys_apps
    all_sys_apps="$(pm list packages -s -U | awk -F'[: ]' '{print $2, $4}')"
    selector="$(echo "${all_sys_apps}" | grep 'com.android.providers.downloads' | cut -d ' ' -f2)"
    selector="${selector}|com\.android\.shell|com\.google\.android\.|com\.android\.vending"
    
    ## prepare ${sys_proxy_apps_uids}
    if [[ "${proxy_mode}" == "whitelist" ]]; then
      while read -r sys_proxy_app; do
        sys_proxy_apps_uids+=("${sys_proxy_app}")
      done <<< "$(pm list packages -s -U | awk -F'[: ]' '{print $2, $4}' | grep -E "${selector}" | sort -k2 -n | cut -d ' ' -f2)"
    fi
    #### adding root to the proxy whitelist. for magisk/ksu/apatch core-updating/module-downloading.
    sys_proxy_apps_uids=(0 ${sys_proxy_apps_uids[@]})
    
    ## prepare ${sys_noneproxy_apps_uids}
    if [[ "${proxy_mode}" == "blacklist" && "${blacklist_exclude_systemapps}" == "true" ]]; then
      while read -r sys_noneproxy_app; do
        sys_noneproxy_apps_uids+=($sys_noneproxy_app)
      done <<< "$(echo "${all_sys_apps}" | grep -v -E "${selector}" | sort -k2 -n | cut -d ' ' -f2)"
    fi

    #### add skip ip rule
    ip_cmd rule add prio ${skip_tun_rule_index} from all nop
  fi
  
  # for blacklist,
  ### if ${blacklist_exclude_systemapps} is false, exclude uid's from ${boxuserlist_apps_uids},
  ### if ${blacklist_exclude_systemapps} is true, additionally exclude uid's from all system apps, except always-proxy-system-apps(google apps and others)
  if [[ "${proxy_mode}" == "blacklist" ]]; then
    blacklist_apps_uids=()
    if [[ "${blacklist_exclude_systemapps}" == "true" ]]; then
      blacklist_apps_uids=($(sorteduid_array_addition "$(echo "${boxuserlist_apps_uids[@]}")" "$(echo "${sys_noneproxy_apps_uids[@]}")"))
    else
      blacklist_apps_uids=($(sorteduid_array_addition "$(echo "${boxuserlist_apps_uids[@]}")" ""))
    fi
    
    for package_uid in "${blacklist_apps_uids[@]}"; do
      # example: ip rule add prio 8020 from all uidrange 2000:2000 goto 9010
      ip_cmd rule add prio $(( my_rule_index + 20 )) from all uidrange ${package_uid}-${package_uid} goto ${skip_tun_rule_index}
      iptables_cmd -t mangle -A DNS_TO_TUN -m owner --uid-owner ${package_uid} -j RETURN
    done
    
    ip_cmd rule add prio $(( my_rule_index + 30 )) add from all lookup ${tun_table_index}
    iptables_cmd -t mangle -A DNS_TO_TUN -j MARK --set-mark ${mark_id}
  # for whitelist, select from all the apps(system+user), and include always-proxy-system-apps(google apps and others), and make sure they are not duplicated
  elif [[ "${proxy_mode}" == "whitelist" ]]; then
    white_apps_uids=($(sorteduid_array_addition "$(echo "${boxuserlist_apps_uids[@]}")" "$(echo "${sys_proxy_apps_uids[@]}")"))
    
    for package_uid in "${white_apps_uids[@]}"; do
      # example: ip rule add prio 8020 from all uidrange 2000:2000 lookup 2022
      ip_cmd rule add prio $(( my_rule_index + 20 )) from all uidrange ${package_uid}-${package_uid} lookup ${tun_table_index}
      iptables_cmd -t mangle -A DNS_TO_TUN -m owner --uid-owner ${package_uid} -j MARK --set-mark ${mark_id}
    done
    
    ip_cmd rule add prio $(( my_rule_index + 30 )) from all goto ${skip_tun_rule_index}
    ip_cmd rule add prio $(( my_rule_index + 30 )) not from all goto ${skip_tun_rule_index}
    iptables_cmd -t mangle -A DNS_TO_TUN -j RETURN
  fi
}

# DONE: (priority: high)
del_tun_rules() {
  {
    # DNS modifications
    ## remove mark all udp/53 (iptables) to route those to tun in "ip rule"
    iptables_cmd -t mangle -F DNS_TO_TUN
    iptables_cmd -t mangle -D OUTPUT -j DNS_TO_TUN
    iptables_cmd -t mangle -X DNS_TO_TUN

    # considering ip rules >0 <10000 to be manually added by tun proxy
    rule_filter='$1+0 > 0 && $1+0 < '"${sys_rule_index}"' {print $1}'
    ip rule show | awk -F: "${rule_filter}" | while read -r priority; do
      ip rule del prio $priority
    done
    ip -6 rule show | awk -F: "${rule_filter}" | while read -r priority; do
      ip -6 rule del prio $priority
    done
  } >> /dev/null 2>&1
  
  ## revert to the saved original system dns setting
  settings put global private_dns_mode ${system_dns_mode}
}

# TODO: (priority: low)
# use tot.sh for better tether_counter handling
tun_forward_iptables_rules() {
  # iptables $1 FORWARD -s 10.0.0.0/8 -o ${tun_device} -j ACCEPT
  # iptables $1 FORWARD -s 172.16.0.0/12 -o ${tun_device} -j ACCEPT
  # iptables $1 FORWARD -s 192.168.0.0/16 -o ${tun_device} -j ACCEPT
  iptables_cmd $1 FORWARD -o ${tun_device} -j ACCEPT
  iptables_cmd $1 FORWARD -i ${tun_device} -j ACCEPT
  # iptables $1 PREROUTING -t nat ! -i ${tun_device} -s 10.0.0.0/8 -p udp --dport 53 -j DNAT --to 1.1.1.1
  # iptables $1 PREROUTING -t nat ! -i ${tun_device} -s 172.16.0.0/12 -p udp --dport 53 -j DNAT --to 1.1.1.1
  # iptables $1 PREROUTING -t nat ! -i ${tun_device} -s 192.168.0.0/16 -p udp --dport 53 -j DNAT --to 1.1.1.1
  ## iptables $1 PREROUTING -t nat ! -i ${tun_device} -p udp --dport 53 -j DNAT --to 1.1.1.1
  ## ip6tables -w 100 $1 FORWARD -j REJECT --reject-with icmp6-no-route
}

tun_forward_enable() {
  tun_forward_disable
  sleep 1
  echo 1 > /proc/sys/net/ipv4/ip_forward
  
  [ "$(cat /proc/sys/net/ipv4/conf/default/rp_filter)" == "1" ] && \
  echo 2 > /proc/sys/net/ipv4/conf/default/rp_filter
  
  [ "$(cat /proc/sys/net/ipv4/conf/all/rp_filter)" == "1" ] && \
  echo 2 > /proc/sys/net/ipv4/conf/all/rp_filter
  
  ## echo 0 > /dev/ip_forward_stub
  ## chown $(stat -c '%u:%g' /data/misc/net/rt_tables) /dev/ip_forward_stub
  ## chcon $(stat -Z -c '%C' /data/misc/net/rt_tables) /dev/ip_forward_stub
  ## mount -o bind /dev/ip_forward_stub /proc/sys/net/ipv4/ip_forward

  # create_tun_link
  
  # probe_tun_index will not find route table index for sing-box's tun,
  # therefore, tun_forward_ip_rules will not get executed when core is sing-box
  # tun_forward_ip_rules is probably for clash only
  
  # as sing-box's tun have no such table in /data/misc/net/rt_tables
  # it's kernel link route is in table main; and its routes are in table 2022;
  # it does not have a traditional table containing kernel link and rest of the routes in /data/misc/net/rt_tables
  probe_tun_index && tun_forward_ip_rules "add"
  probe_tun_device && tun_forward_iptables_rules "-I" && sing_tun_ip_rules "add" && log Info "tun hotspot support is enabled."
  return 0
}

tun_forward_disable() {
  {
    # tun_forward_ip_rules "del"
    sing_tun_ip_rules "del"
    tun_forward_ip_rules_del
    tun_forward_iptables_rules "-D"
  } >> /dev/null 2>&1
  log Warn "tun hotspot support is disabled."
}





case "$1" in
  start)
    if display_bin_status || start_service ; then
      tun_forward_enable
    fi
    ;;
  stop)
    stop_service
    tun_forward_disable
    ;;
  restart)
    stop_service
    sleep 2
    start_service
    ;;
  pause)
    pause_service
    ;;
  resume)
    resume_service
    ;;
  status)
    display_bin_status
    ;;
  *)
    log Error "$0 $1 usage: $0 {start|stop|restart|status}"
    ;;
esac
